.listing-card {
  width: 350px;
  height: 98%;
  max-width: 350px;
  margin: 1rem;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.listing-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.listing-image {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.listing-details {
  font-family: 'Arial', sans-serif;
  position: relative;
  color: #777;
}

h3.listing-title {
  text-decoration: none !important;
}

.listing-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.listing-price {
  font-size: 1.6rem;
  font-weight: bold;
  color: #28a745;
  margin-bottom: 0.5rem;
}

.listing-type-badge {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  left: 1rem;
}

.sale-badge {
  background: #dc3545;
  color: #fff;
}

.rent-badge {
  background: #ffc107;
  color: #333;
}

.delete-button {
  display: inline;
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  position: absolute;
  top: 10px;
  right: 2.5rem;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #ff7875;
}