.vehicle-listings {
  padding: 2rem;
  background-color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  min-height: 100vh;
}

.vehicle-listings h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  width: 100%;
}

.listing-title {
  text-align: center;
}

.vehicle-listings p {
  font-size: 1.2rem;
  text-align: center;
}

.vehicle-listings .listing-card:hover {
  transform: scale(1.05);
}

.listing-location {
  color: #333;
  font-weight: bold;
}


